*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEFEE;
    font-family: 'Work Sans', sans-serif;
    size: 16px;
    color: #101010;
    width: 100%;
    height: 100%;
}


/* HEADINGS*/

h4{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 29px; 
    margin: 20px;
}

/*CONTAINER*/

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
}


.menu-container{
    display: flex;
    flex-direction: column;
    background-color: #fff;
    width: 11.5%;
    min-height: 100vh;
    padding-left:20px;

}

/* LOGIN PAGE START*/


.loginbox{
    width: 25%;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 240px;
    margin: 10px;
    display: flex;
    align-items: center;
    border: none;
}

.input:focus {
    outline: none;
}


.input-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #4AAD52;
    border-radius: 7px;
    margin: 1rem 0rem 0.2rem 0rem;
}

 #eyeop, #eyecls{
    border: none;
    background-color: #ffffff;
    color: #4AAD52;
    outline: none;
}

.forgot a{
    display: flex;
    justify-content: flex-end;
    color: #858585;
    font-size: 12px;
    margin-bottom: 5%;
    text-decoration: none;
}

.forgot a:hover{
    color: #4AAD52;
}


.submit{
    background-color: #4AAD52;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    height:30px;
    border: none;
    color: #fff;
    margin: 1rem 0rem 3rem 0rem;
}

/* IPAD STR. */
@media only screen and (max-width: 1024px) {
    .input-container {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border: 1px solid #4AAD52;
        border-radius: 7px;
        margin: 1rem 0rem 0.2rem 0rem;
    }

    .loginbox{
        width: 60%;
        background: #FFFFFF;
        border-radius: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

 
/* LOGIN PAGE SLUT*/

/*FRONT PAGE KITCHEN */


.menu-container ul li {
    list-style: none;   
}   

.menu-container li a{
    text-decoration: none;
    font-size: 14px;
    line-height: 35px;
    color: #101010;
}

.menu-container li a:hover{
    color: #4AAD52;
}