*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #EEEFEE;
    font-family: 'Work Sans', sans-serif;
    size: 0.5rem;
    color: #101010;
    width: 100%;
    height: 100%;
}


/* HEADINGS*/

h1{
    font-family: Inter;
    font-style: normal;
    font-weight: bold;
    font-size: 1.5rem;
    line-height: 1.8rem; 
    margin: 1.25rem;
    text-align: center;
}

h2{
    font-family: Inter;
    font-weight: bold;
    font-size: 1.25rem;
    margin: 0rem 0rem 0.3rem 0rem;
    text-align: center;
    }
    
h5{
    font-family: Work Sans;
    font-weight: normal;
    font-size: 0.875rem;
    margin: 0rem 0rem 0.8rem 0rem;
    text-align: center;
}

/*CONTAINER*/

.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.front-container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    
}

aside{
    display: flex;
    background-color: #fff;
    min-height: 100vh;
    width: 17%;
    flex-direction: column;
}

.page-container{
    /* background-color: #4AAD52; */
    width: 77%;
    min-height: 100px;
    margin: 3% 3% 3% 3%;
    display: flex;
    flex-direction: column;
    gap: 6%;
}


/* LOGIN PAGE START*/


.loginbox{
    width: 25%;
    background: #FFFFFF;
    border-radius: 20px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.input{
    width: 240px;
    margin: 10px;
    display: flex;
    align-items: center;
    border: none;
}

.input:focus {
    outline: none;
}

.input-container {
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    border: 1px solid #4AAD52;
    border-radius: 7px;
    margin: 1rem 0rem 0.2rem 0rem;
}

 #eyeop, #eyecls{
    border: none;
    background-color: #ffffff;
    color: #4AAD52;
    outline: none;
}

.forgot a{
    display: flex;
    justify-content: flex-end;
    color: #858585;
    font-size: 12px;
    margin-bottom: 5%;
    text-decoration: none;
}

.forgot a:hover{
    color: #4AAD52;
}


.submit{
    background-color: #4AAD52;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    height:30px;
    border: none;
    color: #fff;
    margin: 1rem 0rem 3rem 0rem;
}

/* IPAD STR. */
@media only screen and (max-width: 1024px) {
    .input-container {
        width: 100%;
        height: 30px;
        display: flex;
        align-items: center;
        padding-left: 10px;
        border: 1px solid #4AAD52;
        border-radius: 7px;
        margin: 1rem 0rem 0.2rem 0rem;
    }

    .loginbox{
        width: 60%;
        background: #FFFFFF;
        border-radius: 20px;
        margin: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

 
/* LOGIN PAGE SLUT*/

/*FRONT PAGE KITCHEN */

aside img{
    width: 74%;
    padding: 0% 13% 0% 13%;
}

nav{
    margin: 40% 13% 0% 13%
}
nav ul{
    list-style: none;
   
}

nav ul li{
    line-height: 36px;
    font-size: 16px;
}

nav li a{
    color: #101010;
    text-decoration: none;
}

nav li a:hover{
    color: #4AAD52;
}

.activePage{
    color: #4AAD52;
}

/* CONTENT BOXES */

.ordning{
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #FFFFFF;
    margin: 0rem 0rem 1rem 0rem;
    padding: 0rem 0rem 1rem 0rem;
}

.table-container{
    display: flex;
    flex-direction: row;
    margin: 0 1rem;
    gap:1rem;
}


.week-container{
    align-items: center;
    /* background-color: lightsalmon; */
    display: flex;
    margin: 0rem 10rem 1rem 10rem;
    justify-content: center;
}

.inner {
    width: 50%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    line-height: 1.5rem;
}

.date{
    text-align: center;
    justify-content: center;
    /* background-color: mediumpurple; */

}

.date a{
    font-family: Inter;
    text-decoration: none;
    color: #4AAD52;
    font-size: 0.8rem;
    font-weight: bold;
}

.date a:hover{
    color: #101010;
}
.date p{
    font-size: 0.8rem;

}

.today{
    width: 15rem;
    text-align: center;
    border: 1px solid #101010;
   
}

.weekday{
    width: 100%;
    text-align: center;
    border: 1px solid #101010;
}

.tableOrder {
    width: 100%;
    border: 1px solid #101010;
    margin: 0rem 0rem 3rem 0rem;
}

/*TABLE CONTENT*/

table {
    font-family: Work Sans;
    border-collapse: collapse;
    width: 100%;
}
  
  td, th {
    /* text-align: left; */
    padding: 8px 20px 8px 20px;
  }

.weekday tr:nth-child(even), .tableOrder tr:nth-child(even) {
    background-color: #EEEFEE;
}
.today tr:nth-child(odd){
    background-color: #EEEFEE;
}

.dayshead{
   padding: 8px 0px 8px 0px;
}

/* EXTRAORDER PERSONAL */
/* EXTRAORDER HEADING */
.tableOrder th:nth-child(1), .tableOrder th:nth-child(3) {
    font-size: 1.25rem;
}

.tableOrder th:nth-child(2), .tableOrder th:nth-child(4) {
    font-size: 1.25rem;
}

/* EXTRAORDER BOXES */
.tableOrder td:nth-child(1), .tableOrder th:nth-child(1){
    width: 20%;
    text-align: left;
}

.tableOrder td:nth-child(2), .tableOrder th:nth-child(2){
    width: 5%;
    text-align: center;
}

.tableOrder td:nth-child(3), .tableOrder th:nth-child(3){
    text-align: left;
}

.tableOrder td:nth-child(4), .tableOrder th:nth-child(4){
  
    text-align: center;
    width: 10%;
}

/* STATUS BUTTON */
.active {
    color: #FFFFFF;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    height:30px;
    border: none;
    background-color: #4AAD52;
    }

.status{
    justify-content: center;
    align-items: center;
    text-align: center;
    border-radius: 50px;
    width: 150px;
    height:30px;
    border: solid 1px #4AAD52;
    color: #4AAD52;
}

/* EXTRAORDER PERSONAL ENDS */
